<hr/>
<h1>Help</h1>

<h2>Terminology</h2>

<img src="/images/conferences/help_model.png" alt="Simple Model Diagram"/>

<p>
  <em>Conferences</em> are held at a <em>venue</em> which has one or
  more <em>locations.</em>  A conference may have one or
  more <em>tracks</em> which take place on a single conference day at
  a venue location.
</p>
<p>
  A <em>person</em> can create one or more <em>presentations</em>.
  Presentations are then <em>submitted</em> to a conference, creating
  a <em>presentation submission</em> (via the CFP process).  A
  presentation can be submitted to more than one conference, but each
  submission is recorded seperately.  A presentation can then
  be <em>scheduled</em> by assigning a start and end time during a
  specified conference track.  Presentation types are matched to
  conference <em>capacities</em>, resulting in a
  person's <em>role</em> at a given conference.  That is, when one
  schedules a session at a conference, the session presenter becomes a
  conference <code>speaker</code>.  Likewise, scheduling a training
  results in the presenter becoming a <code>trainer</code>.  <em>Panel
  members</em> can be added to any submission, thus allowing more than
  one presenter to be associated with a given presentation.
</p>
<p>
  In addition to scheduled sessions, conferences can
  have <em>activities</em> which are more free-form events that may or
  may not have a person or track associated with them.  <em>NOTE:<em>
  Activities which do not have an associated track are considered to
  run across <em>all</em> tracks at that given time slot.
</p>

